.card {
  margin-bottom: 20px;
  border: 4px solid #a8cb50;
  text-align: center;
}
.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-gap: 20px;
  margin: 20px;
}
.cardTittle {
  margin-bottom: 5px;
}
.information {
  padding: 15px;
}
.imgCard {
  margin-top: 20px;
}
.fa-user-alt {
  margin-right: 5px;
}
.fa-reddit-alien {
  margin-right: 5px;
}
