.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 5px;
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  &__card {
    text-align: center;
    background-color: #4b4b4b;
    margin-top: 20px;
    padding: 10px;
    padding-top: 30px;
    border-radius: 60px;
    justify-content: space-between;
    @include tablet {
      margin: auto;
      padding: 20px;
    }
    &__img {
      margin: auto;
      border: 4px solid #a8cb50;
      border-radius: 30px;
    }
  }
}

.fa-user-alt {
  margin-right: 5px;
}
.fa-reddit-alien {
  margin-right: 5px;
}
