.link {
  margin: auto;
  color: #a8cb50;
  font-size: 22px;
  @include tablet {
    font-size: 27px;
  }
}
a:hover {
  font-size: 28px;
  font-weight: bold;
  @include tablet {
    font-size: 36px;
  }
}
.carhacterDetail {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: #4b4b4b;
  padding: 10px;
  border-radius: 60px;
}

.detail {
  text-align: center;
  justify-content: center;
  background-color: red;
  margin: auto;

  &__img {
    border: 4px solid #a8cb50;
    width: 200px;
    margin-bottom: 20px;
    @include tablet {
      width: 300px;
    }
  }
  &__title2 {
    margin-bottom: 5px;
  }
  &__inform {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;

    &__text {
      margin-top: 10px;
      font-weight: bold;
      font-family: "Roboto Condensed", sans-serif;
      color: rgb(41, 159, 175);
      @include tablet {
        font-size: 27px;
      }
    }
  }
}
.icon {
  margin: 5px;
  @include tablet {
    font-size: 27px;
  }
}
