.link {
  margin: auto;
  color: #a8cb50;
  font-size: 22px;
}
a:hover {
  font-size: 28px;
  font-weight: bold;
}
.carhacterDetail {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #4b4b4b;

  padding: 10px;
  border-radius: 60px;
}

.detail {
  margin: 40px;
  text-align: center;
  text-align: center;

  &__img {
    border: 4px solid #a8cb50;
    width: 200px;
    margin-bottom: 20px;
  }
  &__title2 {
    margin-bottom: 5px;
  }
  &__inform {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;

    &__text {
      margin-top: 10px;
      font-weight: bold;
      color: rgb(41, 159, 175);
    }
  }
}
.icon {
  margin: 5px;
}
