.characterNotFound {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__img {
    width: 300px;
    margin: auto;
    @include tablet {
      width: 500px;
    }
    @include desktop {
      width: 500px;
    }
  }
}
.tittle3 {
  color: rgb(0, 176, 199);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;
  @include tablet {
    font-size: 24px;
  }
}
