.form {
  display: flex;
  flex-direction: column;
  margin: 10px 30px 20px 30px;

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }
  @include desktop {
    justify-content: space-evenly;
    margin: 10px 30px 30px 30px;
  }
  &__container {
    text-align: center;
    justify-content: center;
    margin: 10px;
    display: flex;
    flex-direction: row;

    @include desktop {
      font-size: 20px;
      padding: 20px;
    }
  }
  &__name {
    color: white;
    text-align: center;
    border: solid 4px #a8cb50;
    height: 40px;
    border-radius: 5px;
    color: rgb(0, 176, 199);
    font-family: "Roboto", sans-serif;
    color: rgb(0, 176, 199);
    padding: 10px;
    font-weight: bold;

    @include tablet {
      width: 300px;
    }
    @include desktop {
      font-size: 20px;
      height: 50px;
    }
  }
  &__specie {
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    padding: 10px;

    font-weight: bold;
    @include desktop {
      font-size: 20px;
      padding-right: 20px;
      height: 50px;
    }
  }

  &__types {
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgb(0, 176, 199);
    font-weight: bold;
    text-align: center;
    @include tablet {
      width: 200px;
    }
    @include desktop {
      font-size: 20px;
      height: 50px;
    }
  }
}
.reset_buttton {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(0, 176, 199);
  font-weight: bold;
  @include tablet {
    width: 150px;
  }
  @include desktop {
    font-size: 20px;
    height: 50px;
  }
}
