@import "../stylesheets/Core/reset.scss";
@import "../stylesheets/Componentes/filter.scss";
@import "../stylesheets/Componentes/CardList.scss";
@import "../stylesheets/Componentes/CardDetail.scss";

.logo {
  margin: auto;
  padding-top: 30px;
  text-align: center;
}
