@import "../stylesheets/Core/reset.scss";
@import "../stylesheets/Core/mixin.scss";
@import "../stylesheets/Componentes/filter.scss";
@import "../stylesheets/Componentes/CardList.scss";
@import "../stylesheets/Componentes/CardDetail.scss";
@import "../stylesheets/Componentes/CharacternotFound.scss";
.header {
  margin: auto;
}
.logo {
  text-align: center;
  margin: auto;
  width: 300px;
  padding-top: 30px;

  @include tablet {
    width: 622px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding-right: 30px;
  padding-bottom: 10px;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
.img__logo {
  width: 70px;
}
